body{
    background-color: red;
}
h1{
    text-align: center;
    margin-top: 1000px;
    font-size: 80px;
    border-style: dotted;
    background-color: darkblue;
}
h2{
    background-color: blue;
    color: yellow;
}
p{
    font-size: 20px;
    color: green;
    background-color: gold;
    border-style: double;
}